.alerta--arriba-izquierda {
    left: 0;
    top: 0;
    position: absolute;
}

.alerta--abajo-izquierda {
    left: 0;
    bottom: 0;
    position: absolute;
}
.alerta--arriba-derecha {
    right: 0;
    top: 0;
    position: absolute;
}
.alerta--abajo-derecha {
    right: 0;
    bottom: 0;
    position: absolute;
}

.alerta--centro {
    right: 40%;
    top: 40%;
    position: absolute;
}
.alert-close {
    right: 0px;
    top: 0px;
}
